<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes"
        type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        requirePermission="false"/>
      <section name="compression"
        type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        requirePermission="false"/>
      <section name="settings"
        type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        requirePermission="false"/>
      <section name="errors"
        type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        requirePermission="false"/>
      <section name="resources"
        type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
        requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <system.web>
    <pages validateRequest="false" clientIDMode="Static">
      <controls>
        <add src="~/Web/SalesDemo/UserControls/Common/HeaderMenu.ascx" tagName="HeaderMenu" tagPrefix="uc" />
        <add src="~/Web/SalesDemo/UserControls/Common/Header.ascx" tagName="Header" tagPrefix="uc" />
        <add src="~/Web/SalesDemo/UserControls/Common/RangeControl.ascx" tagName="FooterRangeControl" tagPrefix="uc" />
        <add src="~/Web/SalesDemo/UserControls/Common/Footer.ascx" tagName="Footer" tagPrefix="uc" />
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid" assembly="DevExpress.Web.ASPxPivotGrid.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dxcharts" namespace="DevExpress.XtraCharts" assembly="DevExpress.XtraCharts.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dxchartsui" namespace="DevExpress.XtraCharts.Web" assembly="DevExpress.XtraCharts.v18.2.Web, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </controls>
    </pages>
  </system.web>
  
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="MetropolisBlue" customThemeAssemblies="" />
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Html5" rightToLeft="false" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>
