<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (c) 2019 Javier Cañon 
 https://www.javiercanon.com 

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to
 deal in the Software without restriction, including without limitation the
 rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
 sell copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in
 all copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 IN THE SOFTWARE.
-->

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Configuracion ASP.NET -->
    <add key="vs:EnableBrowserLink" value="false" />
    <!-- Emails -->
    <add key="MailServer:Host" value="smtp.gmail.com" />
    <add key="MailServer:Login" value="" />
    <add key="MailServer:Password" value="" />
    <add key="MailServer:Port" value="587" />
    <add key="MailServer:SSL.Enable" value="True" />
    <add key="Emails:Contacto" value="javier@javiercanon.com" />
    <add key="Emails:Soporte" value="javier@javiercanon.com" />
    <!-- Log -->
    <add key="Logger:Enable" value="True" />
    <add key="Logger:User.Enable" value="True" />
    <add key="Logger:Developer.Enable" value="True" />
    <add key="Logger:Cache.Enable" value="True" />
    <add key="Logger:Errors.ToText.App_Data.Enable" value="True" />
    <!-- mode logger files = 1, db = 2 (CHANGE BUFFER AT LEAST 10 OR MORE IN PRODUCTION ENVIRONMENT!)  -->
    <add key="Logger:ToTypeMode" value="1" />
    <add key="Logger:User.ToTypeMode" value="2" />
    <!-- Buffer for output, if enableDeveloperLogger = true then 1 -->
    <add key="Logger:ProductionBufferSize" value="100" />
    <add key="log4net.Internal.Debug" value="false" />
    <!-- General APP Config -->
    <add key="Application:Demo.DemoModeEnabled" value="False" />
    <add key="Application:Browsers.EnableBrowserValidation" value="False" />
    <!-- ruta ConsoleWeb.exe terminar con \ slash -->
    <add key="Application:ConsoleWeb.ExeDirectory" value="X:\ConsoleAV\bin\" />
    <!-- Module CRM, MAIN -->
    <!-- Analytics -->
    <add key="SO:Analytics.GoogleID" value="UA-27668185-4" />
    <!-- Security   -->
    <add key="Security:MD5.Key" value="xxx" />
    <add key="SO:Recaptcha.WebsiteKey" value="6LfpoSYTAAAAAIlaHgyVIxTaRNhwRVNQq8-8OXnf" />
    <add key="SO:Recaptcha.SecretKey" value="6LfpoSYTAAAAAI22Wi2yLWlQ4UsjTpXID_ao79yN" />
    <!-- Optimization -->
    <add key="Optimization:Bundling.Enabled" value="false" />
    <add key="Optimization:Javascript.UseMinifiedFiles" value="false" />
    <add key="Optimization:CSS.UseMinifiedFiles" value="false" />
    <!-- Cache -->
    <add key="Cache:Web4CMS.Pages.CacheDuration" value="360" />
    <!-- Development -->
    <add key="Development:DeveloperMode.Enabled" value="true" />
    <add key="Development:DeveloperMode.ShowGenericPagesErrors" value="False" />
    <add key="Development:DeveloperMode.ShowGlobalPageError" value="false" />
    <!-- Databases   -->
    <add key="Databases:UseLocalDB" value="true" />
    <!-- Debug -->
    <add key="Debug:User.ID" value="1" />
    <add key="Debug:User.GUID" value="1111A11A-111A-11AA-AA1A-AAA1A1111AAA" />
    <add key="Debug:User.Login" value="soporte@softcanon.com" />
    <add key="Debug:User.Alias" value="ACEHART" />
    <add key="Debug:User.Email" value="soporte@softcanon.com" />
    <add key="Debug:User.FirstName" value="ACEHART" />
    <add key="Debug:User.Rol.ID" value="1" />
    <add key="Debug:User.Rol.GUID" value="1111A11A-111A-11AA-AA1A-AAA1A1111AAA" />
    <add key="Debug:User.Rol.Name" value="ADMINISTRADOR" />
    <add key="Debug:Website.Domain.Name" value="softcanon.com" />
    <add key="Debug:Website.Domain.GUID" value="1111A11A-111A-11AA-AA1A-AAA1A1111AAA" />
    <add key="Debug:Website.Directory" value="softcanon.com" />
    <!-- Widgets -->
    <add key="SO:Widgets.RSS.News.SO.URL" value="http://www.eltiempo.com/contenido/economia/rss.xml" />
  </appSettings>
  <!--
   LocalDB: Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Demo_SocialOfficeSCRM;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Demo_SocialOfficeSCRM.mdf;Max Pool Size=300;Connection Timeout=180;
   SQL Server: Data Source=(local);Database=Demo_SocialOfficeSCRM;Integrated Security=yes;User ID=;Password=;Max Pool Size=300;Connection Timeout=180;
  -->
  <connectionStrings>
    <add name="Development.MsSqlServer.Main" connectionString="Data Source=(local);Database=Demo_SocialOfficeSCRM;Integrated Security=yes;User ID=;Password=;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <add name="Development.MsSqlServer.Data" connectionString="Data Source=(local);Database=Demo_SocialOfficeSCRM;Integrated Security=yes;User ID=;Password=;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <add name="Development.MsSqlServer.LogServer" connectionString="Data Source=(local);Database=Demo_SocialOfficeSCRM;Integrated Security=yes;User ID=;Password=;Max Pool Size=600;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <add name="Development.MsSqlServer.UserLogServer" connectionString="Data Source=(local);Database=Demo_SocialOfficeSCRM;Integrated Security=yes;User ID=;Password=;Max Pool Size=600;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <!-- DEMO standalone local IIS express windows 10 installation  -->
    <add name="SalesViewerConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Sales.mdf;Integrated Security=True;Connect Timeout=120;" providerName="System.Data.SqlClient" />
    <add name="Demo.LocalDB.MsSqlServer.Main" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Demo_SocialOfficeSCRM;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Demo_SocialOfficeSCRM.mdf;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <!-- standalone local IIS express windows 10 installation  -->
    <add name="LocalDB.MsSqlServer.Main" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Demo_SocialOfficeSCRM;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Demo_SocialOfficeSCRM.mdf;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <add name="LocalDB.MsSqlServer.Data" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Demo_SocialOfficeSCRM;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Demo_SocialOfficeSCRM.mdf;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <add name="LocalDB.MsSqlServer.LogServer" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Demo_SocialOfficeSCRM;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Demo_SocialOfficeSCRM.mdf;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <add name="LocalDB.MsSqlServer.UserLogServer" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Demo_SocialOfficeSCRM;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Demo_SocialOfficeSCRM.mdf;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <!-- windows IIS server installation  -->
    <add name="Server.MsSqlServer.Main" connectionString="Data Source=(local);Database=Demo_SocialOfficeSCRM;Integrated Security=yes;User ID=;Password=;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <add name="Server.MsSqlServer.Data" connectionString="Data Source=(local);Database=Demo_SocialOfficeSCRM;Integrated Security=yes;User ID=;Password=;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <add name="Server.MsSqlServer.LogServer" connectionString="Data Source=(local);Database=Demo_SocialOfficeSCRM;Integrated Security=yes;User ID=;Password=;Max Pool Size=600;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <add name="Server.MsSqlServer.UserLogServer" connectionString="Data Source=(local);Database=Demo_SocialOfficeSCRM;Integrated Security=yes;User ID=;Password=;Max Pool Size=600;Connection Timeout=180;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/e1f13641(v=vs.100)
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
       <httpRuntime maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" targetFramework="4.5" />
</system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="20480" requestValidationMode="4.0" executionTimeout="110" targetFramework="4.7.2" />
    <compilation debug="false" targetFramework="4.7.2">
      <assemblies>
        <add assembly="DevExpress.Data.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v18.2.Core, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v18.2.Export, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v18.2.Core, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.PivotGrid.v18.2.Core, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Charts.v18.2.Core, Version=18.2.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v18.2, Version=18.2.5.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v18.2.Web, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />    
      </assemblies>
    </compilation>
    <pages validateRequest="false" clientIDMode="Predictable">
      <controls>
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </controls>
    </pages>
    <!-- Default No session, solo se puede a nivel de aplicativo, tocaria volver los que se necesitan subaplicativos     
    <sessionState
      mode="Off" />
    -->
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="100" pageOutput="true" traceMode="SortByTime" localOnly="true" />
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        
        redirectMode="ResponseRewrite" to pass HttpException ex to the page.
        
        -->
    <customErrors mode="Off" defaultRedirect="~/Errors/ErrorPageHttp.aspx" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="~/Errors/ErrorPageHttp403.aspx" />
      <!-- 403 NoAccess -->
      <error statusCode="404" redirect="~/Errors/ErrorPageHttp404.aspx" />
      <!-- 404 FileNotFound -->
    </customErrors>
    <!-- Temporalmente se usa Interfaz de usuario por defecto en español españa para compatibilidad librerias, luego debe de ser seleccionable
      invariant culture is en-US 
      http://stackoverflow.com/questions/1100061/how-to-configure-invariant-culture-in-asp-net-globalization 
      
    ES:
    ShortDatePattern: dd/MM/yyyy
    LongDatePattern: dddd, d' de 'MMMM' de 'yyyy
    CurrencySymbol: €
    NumberDecimalSeparator: ,
    NumberGroupSeparator: .
    NumberDecimalDigits: 2
    
    EN:
    ShortDatePattern: M/d/yyyy
    LongDatePattern: dddd, MMMM d, yyyy
    CurrencySymbol: $
    NumberDecimalSeparator: .
    NumberGroupSeparator: ,
    NumberDecimalDigits: 2   
    
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en" uiCulture="es" responseHeaderEncoding="utf-8" enableBestFitResponseEncoding="false" enableClientBasedCulture="false" />
    <!-- 
    page .Net Caching https://msdn.microsoft.com/en-us/library/hdxfb6cy(v=vs.100).aspx 
    web.config:
    https://msdn.microsoft.com/en-us/library/ms228124(v=vs.100).aspx
    
    
          <outputCache enableOutputCache="true"
                   enableFragmentCache="true"
                   sendCacheControlHeader="false"
                   omitVaryStar="false"
                   defaultProvider="AspNetInternalProvider">
    
    -->
    <caching>
      <outputCache enableOutputCache="false" enableFragmentCache="true" sendCacheControlHeader="false" omitVaryStar="false" defaultProvider="AspNetInternalProvider">
        <providers>
          <!-- <add name="DiskOutputCache" type="DiskOutputCacheProvider"  /> -->
        </providers>
      </outputCache>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="public" duration="3600" location="Any" enabled="false" varyByCustom="username" />
        </outputCacheProfiles>
      </outputCacheSettings>
      <sqlCacheDependency enabled="false" pollTime="60000">
        <databases>
          <add name="northwind" connectionStringName="Northwind" pollTime="9000000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <!-- default No pageview 
    <pages enableViewState="false" enableViewStateMac="false" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Auto" maintainScrollPositionOnPostBack="false" clientIDMode="Predictable" controlRenderingCompatibilityVersion="4.0" />
    -->
    <authentication mode="None" />
    <profile>
      <providers>
        <clear />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!-- remove unnecessary http modules for scaling -->
      <remove name="WindowsAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="RoleManager" />
      <remove name="PassportAuthentication" />
      <remove name="Profile" />
      <remove name="UrlRoutingModule" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
    <!-- No Compression in localhost -->
    <urlCompression doDynamicCompression="false" doStaticCompression="false" dynamicCompressionBeforeCache="false" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <staticContent>
      <!-- cache static for days: tip use control version for html pages like js and css ex. xxx-1.0.html or xxx-1.1.js -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" httpExpires="365.00:00:00" />
      <!-- Google Maps can load server layers -->
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
      <mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz" />
      <!-- compressed 7zip -->
      <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
      <!-- fonts 
      <mimeMap fileExtension=".eot" mimeType="embedded-opentype" />-->
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="Index.html" />
        <add value="Default.html" />
        <add value="Default.htm" />
        <add value="Index.htm" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <!-- load in memory cache -->
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <!-- dinamyc content, can varyByHeaders or varyByQueryString, default not enabled here, can control in each page, module or subfolder 
        <add extension=".aspx" location="Any" varyByQueryString="" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00" />
        <add extension=".ashx" location="Any" varyByQueryString="" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00" />
       -->
        <!-- static content -->
        <add extension=".js" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00" />
        <add extension=".css" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00" />
        <add extension=".html" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00" />
        <add extension=".htm" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00" />
        <add extension=".xml" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:00" />
        <!-- cache images -->
        <add extension=".jpg" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="01:00:00" />
        <add extension=".jpeg" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="01:00:00" />
        <add extension=".gif" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="01:00:00" />
        <add extension=".png" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="01:00:00" />
      </profiles>
    </caching>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <devExpress>
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Office365" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="false" enableResourceCompression="false" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" bootstrapMode="" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="false" protectControlState="true" ieCompatibilityVersion="11" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <!-- No Cache Some Pages 
  <location path="captcha.aspx">
    <system.webServer>
      <caching>
        <profiles>
          <add extension=".captcha.aspx" policy="DontCache" kernelCachePolicy="DontCache" />
        </profiles>
      </caching>
    </system.webServer>
  </location>
  -->
  <!-- Denegate some pages or folders -->
  <location path="Web_Code">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <log4net>
    <appender name="RollingLogFileAppender1" type="log4net.Appender.RollingFileAppender">
      <!-- Example using environment variables in params -->
      <!-- <param name="File" value="${TMP}\\ApplicationKit.log" /> -->
      <file value="App_Data\\Logs\\INFO.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyy-MM-dd'.log'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender2" type="log4net.Appender.RollingFileAppender">
      <file name="fileError" value="App_Data\\Logs\\ERROR.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyy-MM-dd'.log'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <logger name="file">
      <appender-ref ref="RollingLogFileAppender1" />
      <level value="All" />
    </logger>
    <logger name="fileError">
      <appender-ref ref="RollingLogFileAppender2" />
      <level value="All" />
    </logger>
    <logger name="sqlserverdb">
      <level value="All" />
    </logger>
  </log4net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>